{% extends "base.html" %}

{% load static %}

{% block content %}

{% for opt in menuOptions %}
    <div class="container">
        <div class="row justify-content-center">

        {% if opt.homeImage %}
            <div class="col-md-3 infoBlock">
                <a href="{% url opt.app %}{{opt.id}}">
                    <img class="imageBlock" src="{{opt.homeImage.url}}" alt="{{opt.name}}">
                </a>
            </div>
        {% endif %}

        </div>
    </div>
{% endfor %}

{% endblock %}

