{% extends "base.html" %}

{% load static %}

{% block content %}

{% if page.text_1 %}
    <div class="infoBlock">
        {{ page.text_1 | safe }}
    </div>
{% endif %}


{% if settings.emailConfigured %}

    <form action="" method="post"> {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.sender.errors }} {{ form.sender.label_tag }} {{ form.sender }}
        </div>
        <div class="fieldWrapper">
            {{ form.ccMyself.errors }} {{ form.ccMyself.label_tag }} {{ form.ccMyself }}
        </div>
        <div class="fieldWrapper">
            {{ form.mailTo.errors }} {{ form.mailTo.label_tag }} {{ form.mailTo }}
        </div>
        <div class="fieldWrapper">
            {{ form.subject.errors }} {{ form.subject.label_tag }} {{ form.subject }}
        </div>
        <div class="fieldWrapper">
            {{ form.message.errors }} {{ form.message.label_tag }} {{ form.message }}
        </div>
        {% if page.enableShopCart %}
            {% if page.text_2 %}
                <div class="infoBlock">
                    {{ page.text_2 | safe }}
                </div>
            {% endif %}
            <div class="fieldWrapper">
                {{ form.attachSC.errors }} {{ form.attachSC.label_tag }} {{ form.attachSC }}
                {{ form.clearSC.errors }}  {{ form.clearSC.label_tag }}  {{ form.clearSC }}
            </div>
            {{ formset.management_form }}
            {% for row in formset %}
                <div class="fieldWrapper">
                    {{ row.code.errors }} {{ row.code }}
                    {{ row.name.errors }} {{ row.name }}
                    {{ row.quantity.errors }} {{ row.quantity }}
                </div>
            {% endfor %}
        {% endif %}
        <input type="submit" value="Send">
    </form>

{% endif %}

{% if page.showSocialMedia and smedia %}
    <div>
        {% for sm in smedia %}
            <a class="fa fa-{{sm.socialMedia.code}}" href="{{sm.profileLink}}" target="_blank"></a>
            <a class="myLink" href="{{sm.profileLink}}" target="_blank">{{sm.profileName}}</a>
            &nbsp;&nbsp;&nbsp;
        {% endfor %}
    </div>
{% endif %}

{% if page.text_3 %}
    <div class="infoBlock">
        {{ page.text_3 | safe }}
    </div>
{% endif %}


{% endblock %}

