{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Show the categories and allow to make additional filtering -->
<section>
    <div class="myCenteredFlex">
        <p class="text-center myBGColor myTextColor mySelected">
            {{page.pageFilter.catName}}
        </p>
        <p class="text-center myBGColor myTextColor">
            <a class="myLink {% if not addFilter %}mySelected{% endif %}" 
               href="{% url page.ITEMS %}{{page.id}}">All</a>
            {% for cat in cats %}
                &nbsp;|&nbsp; 
                <a class="myLink {% if cat == addFilter %}mySelected{% endif %}" 
                   href="{% url page.ITEMS %}addFilter/{{page.id}}/{{cat}}">  {{ cat }} </a>
            {% endfor %}
        </p>
    </div>
</section>

<h3>{{request.session.cartId}}</h3>

<!-- Show the items -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            {% for item in items %}
                <div class="col-md-3 infoBlock">
                    {% if item.itemImage %}
                        <img class="imageBlock" src="{{item.itemThumb.url}}" alt="{{item.itemName}}">
                    {% endif %}
                    <div> 
                        {{item.itemName}}
                        <div id="itemName-{{item.id}}">
                            <div    class="cursorPointer" 
                                    onclick="swapDisplay('itemName-{{item.id}}','itemDescrip-{{item.id}}');"
                            >
                                ( ... )
                            </div>
                        </div>
                    </div>
                    <div id="itemDescrip-{{item.id}}" style="display:none" >
                        {{ item.itemDescrip | linebreaks }}
                        <div    class="cursorPointer" 
                                onclick="swapDisplay('itemName-{{item.id}}','itemDescrip-{{item.id}}');"
                        >
                            ( - )
                        </div>
                    </div>
                    <div id="addCart-{{item.id}}" class="cursorPointer"
                         onclick="popUp('{% url page.ITEMS %}addCart/{{item.id}}'); swapDisplay('addCart-{{item.id}}','delCart-{{item.id}}');"
                         {% if item in cart.items.all %}
                             style="display:none"
                         {% endif %}
                    >
                        <img src="{% static 'mainApp/img/ShopCartAdd.png' %}" width="30" height="30">
                    </div>
                    <div id="delCart-{{item.id}}" class="cursorPointer" 
                         onclick="popUp('{% url page.ITEMS %}delCart/{{item.id}}'); swapDisplay('addCart-{{item.id}}','delCart-{{item.id}}');"
                         {% if item not in cart.items.all %}
                             style="display:none"
                         {% endif %}
                    >
                        <img src="{% static 'mainApp/img/ShopCartDel.png' %}" width="30" height="30">
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            {% for cat in item.itemCats.all %}
                                {% if cat.catName != page.pageFilter.catName %}
                                    {{cat.catName}} &nbsp;
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div>
                            {{item.itemCode}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

