{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Show the categories and allow to make additional filtering -->
<section>
    <div class="myCenteredFlex">
        <p class="text-center myBGColor myTextColor mySelected">
            {{page.pageFilter.catName}}
        </p>
        <p class="text-center myBGColor myTextColor">
            <a class="myLink {% if not addFilter %}mySelected{% endif %}" 
               href="{% url page.ITEMS %}{{page.id}}">All</a>
            {% for cat in cats %}
                &nbsp;|&nbsp; 
                <a class="myLink {% if cat == addFilter %}mySelected{% endif %}" 
                   href="{% url page.ITEMS %}addFilter/{{page.id}}/{{cat}}">  {{ cat }} </a>
            {% endfor %}
        </p>
    </div>
</section>

<iframe name="cartUpdateResult" id="cartUpdateResult" style="display:none"></iframe>

{% if page.headerText %}
    <div class="infoBlock">
        {{ page.headerText | safe }}
    </div>
{% endif %}

<!-- Show the shoping cart controls -->
{% if page.enableShopCart and page.sendCartPage %}
    <div class="cursorPointer">
        <a href="{% url page.sendCartPage.app %}{{page.sendCartPage.id}}{% url page.app %}{{page.id}}">
            <img src="{% static 'mainApp/img/ShopCartConfirm.png' %}" width="30" height="30" alt="Send shopping cart">
        </a>
        ( <span id="itemsQty">{{ cart.itemsQty }}</span> )
        {% include "resetCart.html" %}
    </div>
{% endif %}

<!-- Show the items -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            {% for item in items %}
                <div class="col-md-3 infoBlock">

                    {% if item.itemImage %}
                        <img class="imageBlock" src="{{item.itemThumb.url}}" alt="{{item.itemName}}">
                    {% endif %}

                    <div> 
                        {{item.itemName}}
                        <div id="itemName-{{item.id}}">
                            <div    class="cursorPointer" 
                                    onclick="swapDisplay('itemName-{{item.id}}','itemDescrip-{{item.id}}');"
                            >
                                ( ... )
                            </div>
                        </div>
                    </div>
                    <div id="itemDescrip-{{item.id}}" style="display:none" >
                        {{ item.itemDescrip | linebreaks }}
                        <div    class="cursorPointer" 
                                onclick="swapDisplay('itemName-{{item.id}}','itemDescrip-{{item.id}}');"
                        >
                            ( - )
                        </div>
                    </div>

                    {% if page.enableShopCart %}
<!--                <form action="{% url page.ITEMS %}updateCart" method="post" onsubmit='targetPopUp(this);'> -->
                    <form action="{% url page.ITEMS %}updateCart" method="post" target="cartUpdateResult">
                        {% csrf_token %}
                        <input type="hidden" name="itemId" value="{{item.id}}">
                        <input type="image" alt="Submit" 
                               src="{% static 'mainApp/img/ShopCartAdd.png' %}" width="30" height="30"
                               id="addCart-{{item.id}}"
                               {% if item in cart.items.all %} style="display:none" {% endif %}
                               onclick="add2TextId('itemsQty',1);swapDisplay('addCart-{{item.id}}','delCart-{{item.id}}');"
                        >
                        <input type="image" alt="Submit" 
                               src="{% static 'mainApp/img/ShopCartDel.png' %}" width="30" height="30"
                               id="delCart-{{item.id}}"
                               {% if item not in cart.items.all %} style="display:none" {% endif %}
                               onclick="add2TextId('itemsQty',-1);swapDisplay('addCart-{{item.id}}','delCart-{{item.id}}');"
                        >
                    </form>
                    {% endif %}

                    <div class="d-flex justify-content-between">
                        <div>
                            {% for cat in item.itemCats.all %}
                                {% if cat.catName != page.pageFilter.catName %}
                                    {{cat.catName}} &nbsp;
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div>
                            {{item.itemCode}}
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% if page.footText %}
    <div class="infoBlock">
        {{ page.footText | safe }}
    </div>
{% endif %}

{% endblock %}

