{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Show the links of the InfoPages linked to this one -->
<section>
    <div class="myCenteredFlex">
        <p class="text-center myBGColor myTextColor">
            {% for link in page.infLinks.all %}
                &nbsp;&nbsp; 
                <a class="myLink {% if page.id == link.id %}mySelected{% endif %}"
                    href="{% url page.INFO %}infoPage/{{pageId}}/{{link.id}}">
                        {{ link.name }}
                </a>
                &nbsp;&nbsp; 
            {% endfor %}
        </p>
    </div>
</section>

<div class="infoBlock">
    {{ page.infText | safe }}
</div>

{% endblock %}
