{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Show the links of the InfoPages linked to this one -->
<section>
    <div class="myCenteredFlex">
        <p class="text-center myBGColor myTextColor">
            {% for link in inf.infLinks.all %}
                &nbsp;&nbsp; 
                <a class="myLink" 
                   href="{% url opt.INFO %}infoPage/{{opt.optOrder}}/{{link.infCode}}">  {{ link.infName }} </a>
                &nbsp;&nbsp; 
            {% endfor %}
        </p>
    </div>
</section>

<div class="infoBlock">
    {{ inf.infText | safe }}
</div>

{% endblock %}
