
body {
      background: url("{% if style.styleBGImage %}{{style.styleBGImage.url}}{% endif %}");
      {% if style.styleBGColor %}
            background-color: {{style.styleBGColor}};
      {% else %}
            background-color: black;
      {% endif %}
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      color: white;
    }

.myBGColor {
      {% if style.styleTextBGColor %}
            background-color: {{style.styleTextBGColor}};
      {% else %}
            background-color: darkblue;
      {% endif %}
}

.myTextColor {
      {% if style.styleTextColor %}
            color: {{style.styleTextColor}};
      {% else %}
            color: white;
      {% endif %}
}

.myLink {
      text-decoration: none;
      {% if style.styleTextColor %}
            color: {{style.styleTextColor}};
      {% else %}
            color: white;
      {% endif %}
      {% if style.styleTextBGColor %}
            background-color: {{style.styleTextBGColor}};
      {% else %}
            background-color: darkblue;
      {% endif %}
}

.mySelected {
      font-weight: bold;
}

.myFooter {
      font-style: italic;
}

.myCenteredFlex {
      display:flex; 
      flex-direction: column;
      align-items: center;
      justify-content: center;
}


.myRow {
      margin: 5px 5px;
      padding: 15px 15px;
}

.imageBlock {
      width: 100%;
}

.infoBlock {
      {% if style.styleTextBGColor %}
            background: {{style.styleTextBGColor}};
      {% else %}
            background: darkblue;
      {% endif %}
      {% if style.styleInfoBoxColor %}
            background: {{style.styleInfoBoxColor}};
      {% endif %}
      border-radius: 25px;
      margin: 5px 5px;
      padding: 15px 15px;
}

