/* Set user defined style vars */

:root {

      {% if style.bgColor %}
            --bgColor: {{style.bgColor}};
      {% endif %}

      {% if style.textBGColor %}
            --textBGColor: {{style.textBGColor}};
      {% endif %}

      {% if style.textColor %}
            --textColor: {{style.textColor}};
      {% endif %}

      {% if style.infoBoxColor %}
            --infoBoxColor: {{style.infoBoxColor}};
      {% endif %}

}

/* My styles */

body {
      background: url("{% if style.bgImage %}{{style.bgImage.url}}{% endif %}");
      background-color: var(--bgColor,black) ;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      color: var(--textColor,white);
    }

.cursorPointer {
      display: inline-block;
      cursor: pointer;
}

.myBGColor {
      background-color: var(--textBGColor,darkblue);
}

.myTextColor {
      color: var(--textColor,white);
}

.myLink {
      text-decoration: underline;
      color: var(--textColor,white);
      background-color: var(--textBGColor,darkblue);
}

.myLink:hover {
      text-decoration: none;
      color: var(--textColor,white);
      background-color: var(--textBGColor,darkblue);
}

.mySelected {
      font-weight: bold;
}

.myFooter {
      font-style: italic;
}

.myCenteredFlex {
      display:flex; 
      flex-direction: column;
      align-items: center;
      justify-content: center;
}


.myRow {
      margin: 5px 5px;
      padding: 15px 15px;
}

.imageBlock {
      width: 100%;
}

.infoBlock {
      background: var(--infoBoxColor,darkblue);
      border-radius: 25px;
      margin: 5px 5px;
      padding: 15px 15px;
}

.socialMedialList {
      background-color: var(--textBGColor,darkblue);
}

.errorMessage {
      background-color: red;
}