{% extends "base.html" %}

{% load static %}

{% block title %} {{optName}} {% endblock %}

{% block content %}

{% for post in posts %}

<section>
    <div class="container">
        <div class="row blogRow">
            <div class="col-sm-4">
                {% if post.postImage %}
                    <img class="blogImage" src="{{post.postImage.url}}" alt="">
                {% else %}
                    <img class="blogImage" src="/media{% url 'BLG' %}default.png" alt="">
                {% endif %}
            </div>
            <div class="col-sm blogInfo">
                <h4> {{post.postTitle}} </h2>
                <p>{{post.postContent}}</p>
                <div>
                    Author: {{post.postAuthor}}<br>
                    Date: {{post.postDate}}<br>
                    Tags: {% for tag in post.postTags.all %} {{tag.tagName}} &nbsp; {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endfor %}

<section>
    <div style="width: 75%; margin: auto; text-align: center;">

        Tags: &nbsp; <a href="{% url 'BLG' %}{{menuOpt}}">All</a>

        {% for tag in tags %}
            &nbsp;|&nbsp; <a href="{% url 'BLG' %}addFilter/{{menuOpt}}/{{tag}}">  {{ tag }} </a>
        {% endfor %}

    </div>
</section>

{% endblock %}

