{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Show the tags and allow to make additional filtering -->
<section>
    <div class="myCenteredFlex">
        <p class="text-center myBGColor myTextColor mySelected">
            {{page.pageFilter.name}}
        </p>
        <p class="text-center myBGColor myTextColor">
            <a class="myLink {% if not addFilter %}mySelected{% endif %}" 
               href="{% url page.BLOG %}{{page.id}}">All</a>
            {% for tag in tags %}
                &nbsp;|&nbsp; 
                <a class="myLink {% if tag in addFilter %}mySelected{% endif %}" 
                   href="{% url page.BLOG %}addFilter/{{page.id}}/{{tag}}">  {{ tag }} </a>
            {% endfor %}
        </p>
    </div>
</section>



{% for post in posts %}

<!-- Show the posts -->
<section>
    <div class="container">
        <div class="row myRow">
            <div class="col-sm-4">
                {% if post.image %}
                    <img class="imageBlock" src="{{post.image.url}}" alt="{{post.title}}">
                {% else %}
                    <img class="imageBlock" src="/media{% url page.BLOG %}default.png" alt="{{post.title}}">
                {% endif %}
            </div>
            <div class="col-sm infoBlock">
                <h4> {{post.title}} </h4>
                <p> {{ post.content | linebreaks }} </p>
                <div>
                    Author: {{post.author}}<br>
                    Date: {{post.date}}<br>
                    Tags:   {% for tag in post.tags.all %}
                                {% if tag.name != page.pageFilter.name %}
                                    {{tag.name}} &nbsp;
                                {% endif %}
                            {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endfor %}


{% endblock %}

